/* styles for randallecook.com */

h1
{
	color: red;
	font-family: sans-serif;
	text-align: center;
}

h2
{
	font-family: sans-serif;
	text-align: center;
}

dt
{
	color: navy;
	font-family: sans-serif;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	margin-left: 0.5cm;
}

dd
{
	margin-left: 1cm;
	margin-right: 1cm;
}

dd p
{
	margin-top: 0;
}
